body {
  overflow-x: hidden;
  font-family:Courier New;
  background: -webkit-linear-gradient(black, blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, blue); /* Standard syntax */
  white-space: normal;
}

textarea {
  width: 80%;
  height: 60%;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #000;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
  resize: none;
}

textarea:focus {
  background: none repeat scroll 0 0 #FFFFFF;
  outline-width: 0;
  overflow: auto;
}

input {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #000;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 21px;
  line-height: 1.4em;
  background-color: #f7f7f7;
}

img { max-width: 80%; height: auto; }

button {
  font-size: 21px;
  font-weight: normal;
  cursor:hand;
  padding: 5px;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  min-width: 120px;
  background-color: #f7f7f7;
}

/* On screens that are 992px or less, set the relevant button size */
@media screen and (max-width: 992px) {
  button {
    font-size: 18px;
  }
  textarea {
    font-size: 16px;
  }
  input {
    font-size: 18px;
  }
}
